In [5]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
####https://www.nba.com/stats/help/glossary/

In [6]:
db_sqlite_string = 'sqlite:///database/nba_salary.sqlite'
db_conn = create_engine(db_sqlite_string)

In [50]:
pd.read_sql('SELECT * FROM Seasons_Stats WHERE PTS > 300', con=db_conn)

,X1,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0.0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,None,NaN,176.0,None,NaN,None,217.0,458.0
1,2.0,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,None,NaN,140.0,None,NaN,None,192.0,438.0
2,6.0,1950.0,Ralph Beard,G,22.0,INO,60.0,NaN,NaN,NaN,...,0.762,NaN,None,NaN,233.0,None,NaN,None,132.0,895.0
3,8.0,1950.0,Charlie Black,F-C,28.0,TOT,65.0,NaN,NaN,NaN,...,0.651,NaN,None,NaN,163.0,None,NaN,None,273.0,661.0
4,9.0,1950.0,Charlie Black,F-C,28.0,FTW,36.0,NaN,NaN,NaN,...,0.632,NaN,None,NaN,75.0,None,NaN,None,140.0,382.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13577,24669.0,2017.0,Lou Williams,SG,30.0,HOU,23.0,0.0,591.0,15.4,...,0.867,NaN,None,70.0,56.0,None,NaN,None,25.0,343.0
13578,24670.0,2017.0,Marvin Williams,PF,30.0,CHO,76.0,NaN,2295.0,13.7,...,0.873,NaN,None,498.0,106.0,None,NaN,None,134.0,849.0
13579,24684.0,2017.0,Nick Young,SG,31.0,LAL,60.0,NaN,1556.0,14.1,...,0.856,NaN,None,137.0,58.0,None,NaN,None,137.0,791.0
13580,24685.0,2017.0,Thaddeus Young,PF,28.0,IND,74.0,NaN,2237.0,14.9,...,0.523,NaN,None,449.0,122.0,None,NaN,None,135.0,814.0
13581,24686.0,2017.0,Cody Zeller,PF,24.0,CHO,62.0,NaN,1725.0,16.7,...,0.679,NaN,None,405.0,99.0,None,NaN,None,189.0,639.0

In [51]:
df_seasons_stats = pd.read_sql('SELECT * FROM Seasons_Stats', con=db_conn)
df_nba_season1718_salary = pd.read_sql("SELECT * FROM NBA_season1718_salary", con=db_conn)

In [52]:
df_nba_season1718_salary.head(2)

    X1         Player   Tm  season17_18
0  1.0  Stephen Curry  GSW   34682550.0
1  2.0   LeBron James  CLE   33285709.0

In [11]:
df_seasons_stats.head(2)

,X1,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0.0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1.0,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0

In [54]:
df_seasons_stats.isnull().mean()

X1        0.000000
Year      0.002714
Player    0.002714
Pos       0.002714
Age       0.003038
Tm        0.002714
G         0.002714
GS        0.746993
MP        0.022397
PER       0.023895
TS%       0.006197
3PAr      0.860192
FTr       0.006723
ORB%      0.960431
DRB%      0.984974
TRB%      0.989672
AST%      0.969017
STL%      0.918229
BLK%      0.876919
TOV%      0.981775
USG%      0.997651
blanl     1.000000
OWS       0.004293
DWS       0.004293
WS        0.004293
WS/48     0.023895
blank2    1.000000
OBPM      0.979750
DBPM      0.971002
BPM       0.983314
VORP      0.874975
FG        0.002714
FGA       0.002714
FG%       0.006723
3P        0.648860
3PA       0.790409
3P%       0.846179
2P        0.002714
2PA       0.002714
2P%       0.007898
eFG%      0.006723
FT        0.002714
FTA       0.002714
FT%       0.037463
ORB       0.937913
DRB       0.970232
TRB       0.015350
AST       0.002714
STL       0.923170
BLK       0.850512
TOV       0.962334
PF        0.002714
PTS       0.002714
dtype: float64

In [57]:
###Filtrar por columnas nulas
percent = 0.01 # Porcentaje de columnas nulas
stats_reduced = df_seasons_stats[df_seasons_stats.columns[df_seasons_stats.isnull().mean()<percent]]
stats_reduced.head()

,X1,Year,Player,Pos,Age,Tm,G,TS%,FTr,OWS,...,FG%,2P,2PA,2P%,eFG%,FT,FTA,AST,PF,PTS
0,0.0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,0.368,0.467,-0.1,...,0.279,144.0,516.0,0.279,0.279,170.0,241.0,176.0,217.0,458.0
1,1.0,1950.0,Cliff Barker,SG,29.0,INO,49.0,0.435,0.387,1.6,...,0.372,102.0,274.0,0.372,0.372,75.0,106.0,109.0,99.0,279.0
2,2.0,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,0.394,0.259,0.9,...,0.349,174.0,499.0,0.349,0.349,90.0,129.0,140.0,192.0,438.0
3,3.0,1950.0,Ed Bartels,F,24.0,TOT,15.0,0.312,0.395,-0.5,...,0.256,22.0,86.0,0.256,0.256,19.0,34.0,20.0,29.0,63.0
4,4.0,1950.0,Ed Bartels,F,24.0,DNN,13.0,0.308,0.378,-0.5,...,0.256,21.0,82.0,0.256,0.256,17.0,31.0,20.0,27.0,59.0

In [58]:
df_seasons_stats.columns

Index(['X1', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'PER',
       'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2', 'OBPM',
       'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P',
       '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [59]:
df_seasons_stats

,X1,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0.0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1.0,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2.0,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3.0,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4.0,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686.0,2017.0,Cody Zeller,PF,24.0,CHO,62.0,NaN,1725.0,16.7,...,0.679,NaN,NaN,405.0,99.0,NaN,NaN,NaN,189.0,639.0
24687,24687.0,2017.0,Tyler Zeller,C,27.0,BOS,51.0,NaN,525.0,13.0,...,0.564,NaN,NaN,124.0,42.0,NaN,NaN,NaN,61.0,178.0
24688,24688.0,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,NaN,NaN,35.0,4.0,NaN,NaN,NaN,17.0,23.0
24689,24689.0,2017.0,Paul Zipser,SF,22.0,CHI,44.0,NaN,843.0,6.9,...,0.775,NaN,NaN,125.0,36.0,NaN,NaN,NaN,78.0,240.0
24690,24690.0,2017.0,Ivica Zubac,C,19.0,LAL,38.0,NaN,609.0,17.0,...,0.653,NaN,NaN,159.0,30.0,NaN,NaN,NaN,66.0,284.0

In [35]:
df_seasons_stats.isnull().any(axis=1)

0        True
1        True
2        True
3        True
4        True
         ...
24686    True
24687    True
24688    True
24689    True
24690    True
Length: 24624, dtype: bool

In [33]:
df_seasons_stats[df_seasons_stats.isnull().any(axis=1)].isnull()

,X1,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,False,False,False,False,False,False,False,True,True,True,...,False,True,True,True,False,True,True,True,False,False
1,False,False,False,False,False,False,False,True,True,True,...,False,True,True,True,False,True,True,True,False,False
2,False,False,False,False,False,False,False,True,True,True,...,False,True,True,True,False,True,True,True,False,False
3,False,False,False,False,False,False,False,True,True,True,...,False,True,True,True,False,True,True,True,False,False
4,False,False,False,False,False,False,False,True,True,True,...,False,True,True,True,False,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,False,False,False,False,False,False,False,True,False,False,...,False,True,True,False,False,True,True,True,False,False
24687,False,False,False,False,False,False,False,True,False,False,...,False,True,True,False,False,True,True,True,False,False
24688,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,True,True,True,False,False
24689,False,False,False,False,False,False,False,True,False,False,...,False,True,True,False,False,True,True,True,False,False
24690,False,False,False,False,False,False,False,True,False,False,...,False,True,True,False,False,True,True,True,False,False

In [63]:
###cantidad de filas nulas por columna
stats_null_count = df_seasons_stats[df_seasons_stats.isnull().any(axis=1)].isnull().sum().sort_values(ascending=False)
stats_null_count

blank2    24691
blanl     24691
USG%      24633
TRB%      24436
DRB%      24320
BPM       24279
TOV%      24241
OBPM      24191
DBPM      23975
DRB       23956
AST%      23926
TOV       23761
ORB%      23714
ORB       23158
STL       22794
STL%      22672
BLK%      21652
VORP      21604
3PAr      21239
BLK       21000
3P%       20893
3PA       19516
GS        18444
3P        16021
FT%         925
WS/48       590
PER         590
MP          553
TRB         379
2P%         195
FG%         166
eFG%        166
FTr         166
TS%         153
WS          106
DWS         106
OWS         106
Age          75
AST          67
PF           67
FTA          67
PTS          67
FT           67
2PA          67
2P           67
FGA          67
FG           67
Year         67
G            67
Tm           67
Pos          67
Player       67
X1            0
dtype: int64

In [64]:
###filter index YEAR
stats_null_count['Year']

67

In [16]:
###remplazar por promedio
#df_seasons_stats['PTS'] = df_seasons_stats['PTS'].fillna(df_seasons_stats['PTS'].mean())

In [70]:
##filtrar por null y cambiar tipo
df_seasons_stats = df_seasons_stats[df_seasons_stats['Year'].isnull()==False]
df_seasons_stats['Year'] = df_seasons_stats['Year'].astype(int)

In [71]:
df_seasons_stats

,X1,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0.0,1950,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1.0,1950,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2.0,1950,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3.0,1950,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4.0,1950,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686.0,2017,Cody Zeller,PF,24.0,CHO,62.0,NaN,1725.0,16.7,...,0.679,NaN,NaN,405.0,99.0,NaN,NaN,NaN,189.0,639.0
24687,24687.0,2017,Tyler Zeller,C,27.0,BOS,51.0,NaN,525.0,13.0,...,0.564,NaN,NaN,124.0,42.0,NaN,NaN,NaN,61.0,178.0
24688,24688.0,2017,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,NaN,NaN,35.0,4.0,NaN,NaN,NaN,17.0,23.0
24689,24689.0,2017,Paul Zipser,SF,22.0,CHI,44.0,NaN,843.0,6.9,...,0.775,NaN,NaN,125.0,36.0,NaN,NaN,NaN,78.0,240.0
24690,24690.0,2017,Ivica Zubac,C,19.0,LAL,38.0,NaN,609.0,17.0,...,0.653,NaN,NaN,159.0,30.0,NaN,NaN,NaN,66.0,284.0

In [72]:
df_seasons_stats_2017 = df_seasons_stats[df_seasons_stats['Year']==2017]

In [73]:
df_seasons_stats_2017

,X1,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
24096,24096.0,2017,Alex Abrines,SG,23.0,OKC,68.0,NaN,1055.0,10.1,...,0.898,NaN,NaN,86.0,40.0,NaN,NaN,NaN,114.0,406.0
24097,24097.0,2017,Quincy Acy,PF,26.0,TOT,38.0,1.0,558.0,11.8,...,0.750,NaN,NaN,115.0,18.0,NaN,NaN,NaN,67.0,222.0
24098,24098.0,2017,Quincy Acy,PF,26.0,DAL,6.0,0.0,48.0,-1.4,...,0.667,NaN,NaN,8.0,0.0,0.0,0.0,NaN,9.0,13.0
24099,24099.0,2017,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,...,0.754,NaN,NaN,107.0,18.0,NaN,NaN,NaN,58.0,209.0
24100,24100.0,2017,Steven Adams,C,23.0,OKC,80.0,NaN,2389.0,16.5,...,0.611,NaN,NaN,615.0,86.0,NaN,NaN,NaN,195.0,905.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686.0,2017,Cody Zeller,PF,24.0,CHO,62.0,NaN,1725.0,16.7,...,0.679,NaN,NaN,405.0,99.0,NaN,NaN,NaN,189.0,639.0
24687,24687.0,2017,Tyler Zeller,C,27.0,BOS,51.0,NaN,525.0,13.0,...,0.564,NaN,NaN,124.0,42.0,NaN,NaN,NaN,61.0,178.0
24688,24688.0,2017,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,NaN,NaN,35.0,4.0,NaN,NaN,NaN,17.0,23.0
24689,24689.0,2017,Paul Zipser,SF,22.0,CHI,44.0,NaN,843.0,6.9,...,0.775,NaN,NaN,125.0,36.0,NaN,NaN,NaN,78.0,240.0
24690,24690.0,2017,Ivica Zubac,C,19.0,LAL,38.0,NaN,609.0,17.0,...,0.653,NaN,NaN,159.0,30.0,NaN,NaN,NaN,66.0,284.0

In [74]:
df_seasons_stats_2017.groupby('Player').count()

,X1,Year,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,,,,,,
A.J. Hammons,1,1,1,1,1,1,1,1,1,1,...,1,0,0,1,1,1,0,0,1,1
Aaron Brooks,1,1,1,1,1,1,1,1,1,1,...,1,0,0,1,1,0,0,0,1,1
Aaron Gordon,1,1,1,1,1,1,0,1,1,1,...,1,0,0,1,1,0,0,0,1,1
Aaron Harrison,1,1,1,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,1,1
Adreian Payne,1,1,1,1,1,1,1,1,1,1,...,1,0,0,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wilson Chandler,1,1,1,1,1,1,0,1,1,1,...,1,0,0,1,1,0,0,0,1,1
Yogi Ferrell,3,3,3,3,3,3,1,3,3,3,...,3,0,0,3,3,0,0,0,3,3
Zach LaVine,1,1,1,1,1,1,0,1,1,1,...,1,0,0,1,1,0,0,0,1,1
Zach Randolph,1,1,1,1,1,1,0,1,1,1,...,1,0,0,1,1,0,0,0,1,1
Zaza Pachulia,1,1,1,1,1,1,0,1,1,1,...,1,0,0,1,1,0,0,0,1,1

In [20]:
df_seasons_stats_2017.groupby('Player').count().sort_values(by='X1', ascending=False)

,X1,Year,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,,,,,,
Ersan Ilyasova,4,4,4,4,4,4,1,4,4,4,...,3,0,0,4,4,0,1,0,4,4
Omri Casspi,4,4,4,4,4,4,2,4,4,4,...,3,1,1,4,4,1,2,0,4,4
Lance Stephenson,4,4,4,4,4,4,4,4,4,4,...,4,2,0,4,4,1,2,0,4,4
Quincy Acy,3,3,3,3,3,3,3,3,3,3,...,3,0,0,3,3,1,1,0,3,3
Corey Brewer,3,3,3,3,3,3,0,3,3,3,...,3,0,0,3,3,0,0,0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ian Clark,1,1,1,1,1,1,1,1,1,1,...,1,0,0,1,1,0,0,0,1,1
Henry Ellenson,1,1,1,1,1,1,0,1,1,1,...,1,0,0,1,1,1,1,0,1,1
Hassan Whiteside,1,1,1,1,1,1,0,1,1,1,...,1,0,0,1,1,0,0,0,1,1
Harrison Barnes,1,1,1,1,1,1,0,1,1,1,...,1,0,0,1,1,0,0,0,1,1
Zaza Pachulia,1,1,1,1,1,1,0,1,1,1,...,1,0,0,1,1,0,0,0,1,1

In [107]:
df_seasons_stats_2017.groupby('Player').count().sort_values(by='X1', ascending=False)

,X1,Year,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,,,,,,
Ersan Ilyasova,4,4,4,4,4,4,1,4,4,4,...,3,0,0,4,4,0,1,0,4,4
Omri Casspi,4,4,4,4,4,4,2,4,4,4,...,3,1,1,4,4,1,2,0,4,4
Lance Stephenson,4,4,4,4,4,4,4,4,4,4,...,4,2,0,4,4,1,2,0,4,4
Quincy Acy,3,3,3,3,3,3,3,3,3,3,...,3,0,0,3,3,1,1,0,3,3
Corey Brewer,3,3,3,3,3,3,0,3,3,3,...,3,0,0,3,3,0,0,0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ian Clark,1,1,1,1,1,1,1,1,1,1,...,1,0,0,1,1,0,0,0,1,1
Henry Ellenson,1,1,1,1,1,1,0,1,1,1,...,1,0,0,1,1,1,1,0,1,1
Hassan Whiteside,1,1,1,1,1,1,0,1,1,1,...,1,0,0,1,1,0,0,0,1,1
Harrison Barnes,1,1,1,1,1,1,0,1,1,1,...,1,0,0,1,1,0,0,0,1,1
Zaza Pachulia,1,1,1,1,1,1,0,1,1,1,...,1,0,0,1,1,0,0,0,1,1

In [21]:
### filtrar jugadores   que aparezcan mas de una vez
df_filtered_2 = df_nba_season1718_salary.groupby('Player').count().sort_values(by='Player', ascending=False)
df_filtered_2[df_filtered_2['X1']>1]
#df_nba_season1718_salary.groupby('Player').count().sort_values(by='X1', ascending=False)

                      X1  Tm  season17_18
Player
Wade Baldwin           2   2            2
Tyler Cavanaugh        2   2            2
Troy Williams          2   2            2
Sean Kilpatrick        3   3            3
Richard Jefferson      2   2            2
Rashad Vaughn          2   2            2
Ramon Sessions         2   2            2
Rajon Rondo            2   2            2
Quinn Cook             2   2            2
Nigel Hayes            3   3            3
Naz Mitrou-Long        2   2            2
Marco Belinelli        2   2            2
Kyle Collinsworth      2   2            2
Josh Smith             2   2            2
Joel Bolomboy          2   2            2
Joe Johnson            2   2            2
Jarell Eddie           3   3            3
Jameer Nelson          2   2            2
Jamal Crawford         2   2            2
Isaiah Canaan          3   3            3
Greg Monroe            2   2            2
Georgios Papagiannis   2   2            2
Ersan Ilyasova         2   2            2
Dwyane Wade            2   2            2
Diamond Stone          2   2            2
Demetrius Jackson      3   3            3
DeAndre Liggins        3   3            3
Briante Weber          3   3            3
Arron Afflalo          2   2            2
Antonius Cleveland     2   2            2
Anthony Tolliver       2   2            2

In [76]:
df_join_stats_salary = pd.merge(df_seasons_stats_2017, df_nba_season1718_salary, on=['Player','Tm'], how='inner')
df_join_stats_salary

,X1_x,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,X1_y,season17_18
0,24096.0,2017,Alex Abrines,SG,23.0,OKC,68.0,NaN,1055.0,10.1,...,NaN,86.0,40.0,NaN,NaN,NaN,114.0,406.0,185.0,5725000.0
1,24099.0,2017,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,...,NaN,107.0,18.0,NaN,NaN,NaN,58.0,209.0,350.0,1709538.0
2,24100.0,2017,Steven Adams,C,23.0,OKC,80.0,NaN,2389.0,16.5,...,NaN,615.0,86.0,NaN,NaN,NaN,195.0,905.0,32.0,22471910.0
3,24101.0,2017,Arron Afflalo,SG,31.0,SAC,61.0,NaN,1580.0,9.0,...,NaN,125.0,78.0,NaN,NaN,NaN,104.0,515.0,378.0,1500000.0
4,24102.0,2017,Alexis Ajinca,C,28.0,NOP,39.0,NaN,584.0,12.9,...,NaN,177.0,12.0,NaN,NaN,NaN,77.0,207.0,206.0,4961798.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,24683.0,2017,Joe Young,PG,24.0,IND,33.0,0.0,135.0,11.4,...,NaN,17.0,15.0,NaN,0.0,NaN,5.0,68.0,394.0,1471382.0
266,24685.0,2017,Thaddeus Young,PF,28.0,IND,74.0,NaN,2237.0,14.9,...,NaN,449.0,122.0,NaN,NaN,NaN,135.0,814.0,77.0,14796348.0
267,24686.0,2017,Cody Zeller,PF,24.0,CHO,62.0,NaN,1725.0,16.7,...,NaN,405.0,99.0,NaN,NaN,NaN,189.0,639.0,95.0,12584270.0
268,24689.0,2017,Paul Zipser,SF,22.0,CHI,44.0,NaN,843.0,6.9,...,NaN,125.0,36.0,NaN,NaN,NaN,78.0,240.0,432.0,1312611.0
269,24690.0,2017,Ivica Zubac,C,19.0,LAL,38.0,NaN,609.0,17.0,...,NaN,159.0,30.0,NaN,NaN,NaN,66.0,284.0,426.0,1312611.0

In [23]:
pd.read_sql_query("""SELECT 
                  A.Player AS PLAYER, 
                  ROUND(B.season17_18) AS PROM_SAL, 
                  ROUND(A.PTS) AS PROM_PTS ,
                  CAST(A.Year AS INT) AS YEAR
                  FROM Seasons_Stats AS A 
                  INNER JOIN NBA_season1718_salary AS B 
                  ON A.Player=B.Player
                  WHERE A.Year==2017
                  GROUP BY 1
                  
                  """, db_conn)

              PLAYER    PROM_SAL  PROM_PTS  YEAR
0       A.J. Hammons   1312611.0      48.0  2017
1       Aaron Brooks   2116955.0     322.0  2017
2       Aaron Gordon   5504420.0    1019.0  2017
3         Al Horford  27734405.0     952.0  2017
4       Al Jefferson   9769821.0     535.0  2017
..               ...         ...       ...   ...
406  Wilson Chandler  12016854.0    1117.0  2017
407     Yogi Ferrell   1312611.0     462.0  2017
408      Zach LaVine   3202217.0     889.0  2017
409    Zach Randolph  12307692.0    1028.0  2017
410    Zaza Pachulia   3477600.0     426.0  2017

[411 rows x 4 columns]

In [109]:
df_join_stats_salary['Age'] = df_join_stats_salary['Age'].astype(int)

In [110]:
df_join_stats_salary

,X1_x,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,X1_y,season17_18
0,24096.0,2017,Alex Abrines,SG,23,OKC,68.0,NaN,1055.0,10.1,...,NaN,86.0,40.0,NaN,NaN,NaN,114.0,406.0,185.0,5725000.0
1,24099.0,2017,Quincy Acy,PF,26,BRK,32.0,1.0,510.0,13.1,...,NaN,107.0,18.0,NaN,NaN,NaN,58.0,209.0,350.0,1709538.0
2,24100.0,2017,Steven Adams,C,23,OKC,80.0,NaN,2389.0,16.5,...,NaN,615.0,86.0,NaN,NaN,NaN,195.0,905.0,32.0,22471910.0
3,24101.0,2017,Arron Afflalo,SG,31,SAC,61.0,NaN,1580.0,9.0,...,NaN,125.0,78.0,NaN,NaN,NaN,104.0,515.0,378.0,1500000.0
4,24102.0,2017,Alexis Ajinca,C,28,NOP,39.0,NaN,584.0,12.9,...,NaN,177.0,12.0,NaN,NaN,NaN,77.0,207.0,206.0,4961798.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,24683.0,2017,Joe Young,PG,24,IND,33.0,0.0,135.0,11.4,...,NaN,17.0,15.0,NaN,0.0,NaN,5.0,68.0,394.0,1471382.0
266,24685.0,2017,Thaddeus Young,PF,28,IND,74.0,NaN,2237.0,14.9,...,NaN,449.0,122.0,NaN,NaN,NaN,135.0,814.0,77.0,14796348.0
267,24686.0,2017,Cody Zeller,PF,24,CHO,62.0,NaN,1725.0,16.7,...,NaN,405.0,99.0,NaN,NaN,NaN,189.0,639.0,95.0,12584270.0
268,24689.0,2017,Paul Zipser,SF,22,CHI,44.0,NaN,843.0,6.9,...,NaN,125.0,36.0,NaN,NaN,NaN,78.0,240.0,432.0,1312611.0
269,24690.0,2017,Ivica Zubac,C,19,LAL,38.0,NaN,609.0,17.0,...,NaN,159.0,30.0,NaN,NaN,NaN,66.0,284.0,426.0,1312611.0

In [111]:
df_summarized_by_player = df_join_stats_salary.groupby('Player').sum()
df_summarized_by_player

,X1_x,Year,Age,G,GS,MP,PER,TS%,3PAr,FTr,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,X1_y,season17_18
Player,,,,,,,,,,,,,,,,,,,,,
Aaron Gordon,24289.0,2017,21,80.0,0.0,2298.0,14.4,0.530,0.0,0.251,...,0.0,405.0,150.0,0.0,0.0,0.0,172.0,1019.0,190.0,5504420.0
Al Horford,24343.0,2017,30,68.0,0.0,2193.0,17.7,0.553,0.0,0.169,...,0.0,464.0,337.0,0.0,0.0,0.0,138.0,952.0,11.0,27734405.0
Al Jefferson,24366.0,2017,32,66.0,1.0,931.0,18.9,0.526,0.0,0.180,...,0.0,278.0,57.0,0.0,0.0,0.0,125.0,535.0,128.0,9769821.0
Al-Farouq Aminu,24107.0,2017,26,61.0,0.0,1773.0,11.3,0.506,0.0,0.292,...,0.0,451.0,99.0,0.0,0.0,0.0,102.0,532.0,154.0,7319035.0
Alan Williams,24660.0,2017,24,47.0,0.0,708.0,19.5,0.547,0.0,0.419,...,0.0,292.0,23.0,0.0,0.0,0.0,125.0,346.0,178.0,6000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Will Barton,24131.0,2017,26,60.0,0.0,1705.0,15.5,0.547,0.0,0.285,...,0.0,258.0,206.0,0.0,0.0,0.0,110.0,820.0,235.0,3533333.0
Willie Cauley-Stein,24190.0,2017,23,75.0,0.0,1421.0,16.4,0.558,0.0,0.314,...,0.0,340.0,80.0,0.0,0.0,0.0,147.0,611.0,233.0,3704160.0
Wilson Chandler,24192.0,2017,29,71.0,0.0,2197.0,14.9,0.545,0.0,0.207,...,0.0,459.0,141.0,0.0,0.0,0.0,172.0,1117.0,101.0,12016854.0
Yogi Ferrell,24261.0,2017,23,36.0,0.0,1046.0,14.1,0.541,0.0,0.212,...,0.0,99.0,155.0,0.0,0.0,0.0,79.0,408.0,429.0,1312611.0
Zaza Pachulia,24515.0,2017,32,70.0,0.0,1268.0,16.1,0.588,0.0,0.410,...,0.0,410.0,132.0,0.0,0.0,0.0,166.0,426.0,239.0,3477600.0

In [112]:
###filter by player in index
df_summarized_by_player.loc['Ersan Ilyasova']

X1_x             48713.000
Year              4034.000
Age                 58.000
G                   79.000
GS                   0.000
MP                2080.000
PER                 28.900
TS%                  1.083
3PAr                 0.000
FTr                  0.507
ORB%                 0.000
DRB%                 0.000
TRB%                 0.000
AST%                 0.000
STL%                 0.000
BLK%                 0.000
TOV%                 0.000
USG%                 0.000
OWS                  1.900
DWS                  2.200
WS                   4.000
WS/48                0.193
OBPM                 0.000
DBPM                 0.000
BPM                  0.000
VORP                 0.000
FG                 378.000
FGA                874.000
FG%                  0.852
3P                   0.000
3PA                  0.000
3P%                  0.000
2P                 239.000
2PA                484.000
2P%                  0.964
eFG%                 1.004
FT                 161.000
FTA                207.000
FT%                  1.568
ORB                  0.000
DRB                  0.000
TRB                465.000
AST                140.000
STL                  0.000
BLK                  0.000
TOV                  0.000
PF                 206.000
PTS               1056.000
X1_y               669.000
season17_18    6502328.000
Name: Ersan Ilyasova, dtype: float64

In [79]:
df_summarized_by_player.dtypes

X1_x           float64
Year             int64
Age            float64
G              float64
GS             float64
MP             float64
PER            float64
TS%            float64
3PAr           float64
FTr            float64
ORB%           float64
DRB%           float64
TRB%           float64
AST%           float64
STL%           float64
BLK%           float64
TOV%           float64
USG%           float64
OWS            float64
DWS            float64
WS             float64
WS/48          float64
OBPM           float64
DBPM           float64
BPM            float64
VORP           float64
FG             float64
FGA            float64
FG%            float64
3P             float64
3PA            float64
3P%            float64
2P             float64
2PA            float64
2P%            float64
eFG%           float64
FT             float64
FTA            float64
FT%            float64
ORB            float64
DRB            float64
TRB            float64
AST            float64
STL            float64
BLK            float64
TOV            float64
PF             float64
PTS            float64
X1_y           float64
season17_18    float64
dtype: object

In [26]:
df_player_salary_points = df_summarized_by_player[['PTS','season17_18']].sort_values(by='PTS', ascending=False)
#df_player_salary_points['PTS'] = df_player_salary_points['PTS'].astype(int)
#df_player_salary_points['season17_18'] = df_player_salary_points['season17_18'].astype(int)
df_player_salary_points

                       PTS  season17_18
Player
Russell Westbrook   2558.0   28530608.0
James Harden        2356.0   28299399.0
Anthony Davis       2099.0   23775506.0
Karl-Anthony Towns  2061.0    6216840.0
Damian Lillard      2024.0   26153057.0
...                    ...          ...
Chinanu Onuaku        14.0    1312611.0
Axel Toupane          11.0      25000.0
Demetrius Jackson     10.0      92858.0
Michael Gbinije        4.0     500000.0
Chris McCullough       1.0    1471382.0

[269 rows x 2 columns]